@model List<DataLayer.Entities.Directory>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (var dir in @Model)
            {
                <li>
                    <h2>
                        <a
                            asp-action="Index"
                            asp-controller="Page"
                            asp-route-pageId="@dir.Id"
                            asp-route-pageType="Directory">
                             @dir.Title
                        </a>
                    </h2>
                    @if (dir.Materials != null)
                    {
                        <ul>
                            @foreach (var mat in dir.Materials)
                            {
                                <li>
                                    <a
                                        asp-action="Index"
                                        asp-controller="Page"
                                        asp-route-pageId="@mat.Id"
                                        asp-route-pageType="Material">
                                        @mat.Title
                                    </a>
</li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
</div>
</div>
